# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Environnements
.env
backend/.env
frontend/.env

# Clés sensibles
serviceAccountKey.json

# Logs
*.log
npm-debug.log*

# Builds
dist/
build/

# OS files
.DS_Store
Thumbs.db
