.notification-badge {
    margin-left: 8px;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
  }
  
  
  .badge-red {
    background-color: crimson;
  }
  
  
  .badge-blue {
    background-color: steelblue;
  }
  
  
  